@font-face
{
	font-family: 'chessBoard';
	src: url('../fonts/DiaTTUSA.woff'),
		 url('../fonts/DiaTTUSA.ttf');
}

.board {
	font-size: 20pt;
	font-family: 'chessBoard';
	white-space: nowrap;
	width: 10em;
	height: 10em;
}