@font-face
{
	font-family: 'chessBoard';
	src: url('../fonts/DiaTTUSA.woff'),
		 url('../fonts/DiaTTUSA.ttf');
}

.pgnViewer {
	font-size: 15px;
	padding: 1em;
	width: 30em;
}

.pgnViewer h2
{
	font-weight: bold;
	font-size: 1.35em;
	padding: 3px 0;
}

.pgnViewer h3
{
	font-weight: bold;
	font-size: 1.20em;
	padding: 3px 0;
}

.pgnViewer h4
{
	font-weight: bold;
	font-size: 1.05em;
	padding: 3px 0;
}

.pgnViewer sup {
	padding: 0 2px;
	vertical-align: super;
	font-size: 0.65em;
	color: red;
	text-decoration: none;
	font-weight: bold;
}

.pgnViewer strong
{
	font-weight: bold;
}

.pgnViewer .board {
	white-space: nowrap;
	width: 10em;
	height: 10em;
	position: relative;
}

.pgnViewer .board .svg, 
.pgnViewer .board div.diagram
{
	position: absolute;
	top:0;
	left: 0;
}

.pgnViewer .board .svg 
{
	position: absolute;
	height: 100%;
	width: 100%;
}

.pgnViewer .board div.diagram
{
	font-family: 'chessBoard';
}

.pgnViewer .container:focus {
	outline: none;
	border: none;
}

.pgnViewer label {
	font-size: 0.85em;
}

.pgnViewer label input {
	position: relative;
	top: 2px;
}

.pgnViewer .boardWrapper {
	float: left;
	font-size: 1.85em;
	margin: 0 0 0.5em;
}

.pgnViewer .notationWrapper {
	width: 11.5em;
	float: left;
	margin: 0 0 0.5em;
}

.pgnViewer .notationWindow {
	height: 17em;
	width: 100%;
	margin: 1em 0em 0.5em;
	overflow-y: auto;
	font-weight: bold;
}

.pgnViewer .comments { 
	margin-top: 0.5em;
	padding: 0.5em;
	border: 1px solid black;
	clear: both;
	height: 5em;
	overflow-y: auto;
}

.pgnViewer .controls {
	font-size: 10pt;
	text-align: center;
	clear: both;
	margin: 0 auto;
}

.pgnViewer .variation {
	font-style: italic;
	font-weight: normal;
	margin: 0 0 3px;
	color: blue;
}

.pgnViewer .variation .variation {
	color: green;
}

.pgnViewer .variation .variation .variation {
	color: purple;
}

.pgnViewer .variation [data-clickaction="clickMove"] {
	font-weight: normal;
}

.pgnViewer .result {
	display: block;
	margin-top: 5px;
}

.pgnViewer [data-clickaction] {
	cursor: pointer;
	margin: 0 0 3px;
}

.pgnViewer [data-clickaction="clickMove"] {
	display: inline-block;
	padding: 2px 3px;
}

.pgnViewer [data-clickaction="clickMove"].active {
	background: yellow;
}

.pgnViewer [data-clickaction="clickMove"].error {
	background: red;
	color: #fff;
}