@font-face
{
	font-family: 'chessBoard';
	src: url('../fonts/DiaTTUSA.woff'),
		 url('../fonts/DiaTTUSA.ttf');
}

body {
	font-family: sans-serif;
}

h2
{
	font-weight: bold;
	font-size: 1.35em;
	padding: 3px 0;
}

h3
{
	font-weight: bold;
	font-size: 1.20em;
	padding: 3px 0;
}

h4
{
	font-weight: bold;
	font-size: 1.05em;
	padding: 3px 0;
}

sup {
	padding: 0 2px;
	vertical-align: super;
	font-size: 0.65em;
	color: red;
	text-decoration: none;
	font-weight: bold;
}

strong
{
	font-weight: bold;
}

.board {
	white-space: nowrap;
	width: 10em;
	height: 10em;
	position: relative;
}

.board .svg, .board div.diagram
{
	position: absolute;
	top:0;
	left: 0;
}

.board .svg 
{
	position: absolute;
	height: 100%;
	width: 100%;
}

.board div.diagram
{
	font-family: 'chessBoard';
}

.container:focus {
	outline: none;
	border: none;
}

.pgnViewerModule {
	padding: 10px;
}

label {
	font-size: 10pt;
}

label input {
	position: relative;
	top: 2px;
}

.boardWrapper {
	float: left;
	width: 10em;
	font-size: 20pt;
}

.notationWrapper {
	width: 17em;
	float: left;
	margin-left: 1em;
}

.notationWrapper input {
	width: 17em;
}

.notationWindow {
	height: 15em;
	width: 100%;
	margin: 1em 0em 0.5em;
	overflow-y: auto;
	font-weight: bold;
}

.comments { 
	padding: 1em;
	clear: both;
	width: 30em;
}

.controls {
	font-size: 10pt;
	text-align: center;
	clear: both;
	margin: 0 auto;
}

.variation {
	font-style: italic;
	font-weight: normal;
	margin: 0 0 3px;
	color: blue;
}

.variation .variation {
	color: green;
}

.variation .variation .variation {
	color: purple;
}

.variation [data-clickaction="clickMove"] {
	font-weight: normal;
}

.result {
	display: block;
	margin-top: 5px;
}

[data-clickaction] {
	cursor: pointer;
	margin: 0 0 3px;
}

[data-clickaction="clickMove"] {
	display: inline-block;
	padding: 2px 3px;
}
[data-clickaction="clickMove"].active {
	background: yellow;
}

[data-clickaction="clickMove"].error {
	background: red;
	color: #fff;
}